!!!
%html
  %head
    %meta(charset='UTF-8')
    %title kc timer
    %link(href='/stylesheets/style.css' rel='stylesheet')
  %body
    #container
      #timer.shadow= timer
      #stream
    .javascripts
      %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
      %script(type="text/javascript" src="/javascripts/jquery.timer.js")
      %script(type="text/javascript" src="/javascripts/pusher.min.js")
      %script(type="text/javascript" src="/javascripts/receiver.js")
      :javascript
        var convert = function(v){return ('00' + v).slice(-2);};
        var time_format = function(s){return convert(parseInt(s / 60)) + ":" + convert(s % 60);};

        var sec = #{sec};
        var timer = $.timer(function() {
          sec--;
          if(0 == sec){
            timer.stop();
          }
          $("#timer").html(time_format(sec));
        });
        timer.set({ time : 1000, autostart : true });
