body {
    overflow:hidden;
    background-color: black;
    background-image: url("/images/background_onepoint.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

body#top {
    overflow: auto;
    background-color: black;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.box {
    margin-top: 10px;
    background-color: rgba(128,180,20,0.7);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border:solid 1px #000000;
    -moz-border-radius-topleft: 21px;
    -moz-border-radius-topright:21px;
    -moz-border-radius-bottomleft:21px;
    -moz-border-radius-bottomright:21px;
    -webkit-border-top-left-radius:21px;
    -webkit-border-top-right-radius:21px;
    -webkit-border-bottom-left-radius:21px;
    -webkit-border-bottom-right-radius:21px;
    border-top-left-radius:21px;
    border-top-right-radius:21px;
    border-bottom-left-radius:21px;
    border-bottom-right-radius:21px;
    text-align: center;
}
#main {
    text-align: left;
}
#main p {
    margin: 15px;
    padding: 2px;
    font-size: 12pt;
    color: rgba(250,250,250,1);
}

#timer {
    width: 600px;
    height: 300px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    z-index: 100;
    font-size: 144pt;
}
.shadow {
    color: white;
    text-shadow: 3px 2px 50px #1fc3ff;
    filter: dropshadow(color=#1fc3ff, offx=3, offy=1);
}
.icon {
    vertical-align: middle;
}
.tweet {
    margin: 0;
    padding: 10px;
    font-size: 80%;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(51,51,51,0.5)), to(#222));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-top: 2px solid rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(187,187,187,0.5);
    color: #dddddd;
}
.tweet .screen_name a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 70%;
    font-weight: bold;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
    text-decoration: none;
}